
:host {
  display: block;
  width: 400px;
  border: 2px solid red;
  margin: 10px auto;
  padding: 16px;
}
.borderBox {
  font-family: "Comic Sans MS";
}
:host.is-last {
  border: 2px solid black;
}
.poster-image{
  height: 200px;
  width: 150px;
  margin: 0 auto;
  display: inline-block;
}

.content-card {
  border: 2px solid green;
}
