
:host {
  display: block;
  width: 400px;
  border: 2px solid red;
  margin: 10px auto;
  padding: 16px;
}
.borderBox {
  font-family: "Comic Sans MS";
}
:host.is-last {
  border: 2px solid black;
}
:host.history{
  border: 2px solid #ff00ff;
}
:host.comics{
  border: 2px solid #00ffff;
}
:host.hightlight-me{
  background-color: #000;
  color: #ffff00;
}
.poster-image{
  height: 200px;
  width: 150px;
  margin: 0 auto;
  display: inline-block;
}
p {
  font-size: 18px;
  text-align: center;
}
.adventure {
  border-color: red;
}
.action {
  border-color: orange;
}
