mat-form-field {
  padding: 0 10px;
}

div.form {
  width: 80%;
  background-color: beige;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
div.form-group {
  padding: 5px;
  width: 60%;
  margin: 0 auto;
}
input {
  width: 50%;
  font-size: 18px;
  padding: 4px;
  margin: 10px;
}

.mat-input {
  background-color: white;
  width: 90%;
  margin-top: 18px;
}

mat-form-field {
  width: 100%;
  background-color: bisque;
}
